fastapi
uvicorn[standard]

python-telegram-bot

openai

python-dotenv

gemini-genai

sqlalchemy

psycopg2-binary

alembic

langgraph

langchain-core

langchain-openai

pydantic

httpx

orjson

redis

loguru

python-multipart

aiofiles

python-telegram-bot

google-genai

python-dotenv

google-api-python-client

google-auth-httplib2

google-auth-oauthlib