fastapi
uvicorn[standard]

python-telegram-bot

openai

python-dotenv

gemini-genai

sqlalchemy

psycopg2-binary

alembic

langgraph

langchain-core

langchain-openai

pydantic

httpx

orjson

redis

loguru

python-multipart

aiofiles